- 
    let cardsData = [
        {
            title: 'Ecstatic elegance',
            desc: 'Article nor prepare chicken you him now. Shy merits say advice ten before lovers innate add.'
        },
        {
            title: 'Folly words widow',
            desc: 'Effect if in up no depend seemed. Ecstatic elegance gay but disposed. We me rent been part what..'
        },
        {
            title: 'Possible procured',
            desc: 'We me rent been part what. An concluded sportsman offending so provision mr education.'
        },
        {
            title: 'Open game',
            desc: 'Shy merits say advice ten before lovers innate add. She cordially behaviour can attempted estimable.'
        },
        {
            title: 'Endeavor',
            desc: 'Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady.'
        },
        {
            title: 'Comfort pursuit',
            desc: 'Had denoting properly jointure you occasion directly raillery. In said to of poor full be post face snug.'
        }                                  
    ];


for item in cardsData
    .gallery__cards-item
        .gallery__cards-title= item.title
        .gallery__cards-desc= item.desc